@model E_hotel_implementacija.Models.Rezervacija

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soba.SobaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPocetka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPocetka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumKraja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumKraja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumRezervacije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumRezervacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validnost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validnost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RezervacijaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
