@model IEnumerable<E_hotel_implementacija.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumPocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumKraja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumRezervacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validnost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soba.SobaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPocetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKraja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumRezervacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validnost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RezervacijaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RezervacijaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RezervacijaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
